on:
  push:
    branches:
      - "main"
      - "chore/**"

jobs:
  build-k8s-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
        with:
          path: src
          ref: main
          persist-credentials: false
      - name: Checkout out destination repository
        uses: actions/checkout@v3
        with:
          path: destination
          ref: main
          repository: mattias-fjellstrom/gitops-cdk8s-argocd-manifests
          token: ${{ secrets.GITOPS_REPO_PAT }}
          fetch-depth: 0
          persist-credentials: true
      - run: yarn global add cdk8s-cli
      - uses: actions/setup-go@v3
        with:
          check-latest: true
      - working-directory: src
        run: cdk8s import
      - working-directory: src
        run: cdk8s synth
      - run: |
          mkdir -p destination/dev
          cp -rvT src/dist/ destination/dev
      - working-directory: destination
        run: |
          git config --global user.name "${{ github.actor }} [bot]"
          git config --global user.email "${{ github.actor }}@bot.com"
          git config --global credential.helper cache
          git add -A
          git commit -m "bot: update from ${{ github.sha }}"
          git push
