on:
  push:
    branches:
      - "main"
      - "chore/**"

jobs:
  build-k8s-manifests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: gitops-cdk8s-argocd
      - run: yarn global add cdk8s-cli
        working-directory: gitops-cdk8s-argocd
      - uses: actions/setup-go@v3
        with:
          check-latest: true
      - run: cdk8s import
        working-directory: gitops-cdk8s-argocd
      - run: cdk8s synth
        working-directory: gitops-cdk8s-argocd
      - uses: actions/checkout@v3
        with:
          repository: mattias-fjellstrom/gitops-cdk8s-argocd-manifests
          path: gitops-cdk8s-argocd-manifests
      - run: |
          cp ./dist/**.yaml /gitops-cdk8s-argocd-manifests
          ls -a
          ls -a gitops-cdk8s-argocd-manifests
        working-directory: gitops-cdk8s-argocd
      - run: |
          git config --global user.email "${{ github.actor }}@example.com"
          git config --global user.name "${{ github.actor }}"
          git add . && git commit -m "Update manifests" && git push
        working-directory: gitops-cdk8s-argocd-manifests
