on:
  push:
    branches:
      - "main"
      - "chore/**"

env:
  ARTIFACT_NAME: manifests

permissions: write-all

jobs:
  build-k8s-manifests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: yarn global add cdk8s-cli
      - uses: actions/setup-go@v3
        with:
          check-latest: true
      - run: cdk8s import
      - run: cdk8s synth
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: dist/

  commit-to-gitops-repo:
    runs-on: ubuntu-latest
    needs: build-k8s-manifests
    steps:
      - uses: actions/checkout@v3
        with:
          repository: mattias-fjellstrom/gitops-cdk8s-argocd-manifests
      - uses: actions/download-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
      - run: |
          git config --global user.email "${{ github.actor }}@example.com"
          git config --global user.name "${{ github.actor }}"
          git add . && git commit -m "Update manifests" && git push
